body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
}

h1 {
    line-height: 1.5em;
    font-size: 40px;
    font-style: italic;
    letter-spacing: 5px;
}

.header {
    background-color: rgb(53, 30, 4);
    color: white;
}

.header a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.hero {
    height: 300px;
    background-image: url('../images/hero.png');
    background-color: orange;
    background-size: 500px 300px;
    background-repeat: no-repeat;
    background-position-x: right;
}


.services {
    background: #FAFAFA;
    padding: 100px;
    padding-bottom: 10px;
}

.service {
    background: white;
    border: 1px solid gray;
    border-radius: 10px;
    margin: 10px;
    margin-bottom: 15px;
    padding: 20px;
    display: flex;
}

.service-details {
    width: 500px;
}

.service-imageContainer {
    width: 500px;
}

.products {
    background: #FAFAFA;
    padding: 50px;
    padding: 100px;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
}

.product {
    background: white;
    border: 1px solid gray;
    border-radius: 10px;
    margin: 20px;
    margin-bottom: 15px;
    padding: 20px;
    flex-shrink: 0;
}

.products-details {
    width: 300px;
}

.products-imageContainer {
    width: 300px;
    height: 300px;
}
